<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<connectionStrings>
		<add name="LivrariaTestes" connectionString="Data Source=DESKTOP-RCN2RNI;Initial Catalog=LivrariaTestes;User ID=sa;Password=leia1234;Encrypt=False" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
